
/*PAGINA CONTACTO*/

#mainContacto{
    display: flex;
}

.igcontacto{
    width: 200px;
    height: 200px; 
}

.iganch{
    text-decoration: none;
    margin: 40px;
    background-color: rgb(197, 215, 248);
    padding: 15px;
    border-radius: 10px;
}